<div class="container">
    <div class="back-to-top" >
      <a href="#home"><i class="fas fa-chevron-up" [@floatFadeIcon]="state"></i></a>
    </div>
      <div class="footer-content">
          <div class="footer-content-about animate-up">
              <h4>Sobre a The Bake</h4>
              <div class="asterisk"><i class="fas fa-asterisk"></i></div>
              <p>
                  Lorem ipsum dolor sit amet. Qui necessitatibus 
                  galisum non omnis cupiditate non neque ratione non harum odit ut sint soluta. 
                  Id internos necessitatibus cum consequatur voluptate in velit quod eos commodi 
                  soluta qui blanditiis explicabo ut deleniti distinctio qui dolor quia.
              </p>
          </div>
          <div class="footer-content-divider animate-bottom" data-aos="fade-up">
              <div class="social-media">
                  <h4>Nos Acompanhe</h4>
                  <ul class="social-icons">
                      <li>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fab fa-facebook-square"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fab fa-pinterest"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="fab fa-tripadivisor"></i></a>
                      </li>
                  </ul>
              </div>
              <div class="newsletter-container">
                  <h4>Newsletter</h4>
                  <form action="" class="newsletter-form">
                      <input type="" class="newsletter-input" placeholder="Seu email">
                      <button class="newsletter-btn" type="submit">
                          <i class="fas fa-envelop"></i>
                      </button>
                  </form>
              </div>
          </div>
      </div>
  </div>