<section class="descubra-nosso-menu">
    <div class="container">
        <div class="bakery-info">
            <div class="image-group padding-right animate-left"  data-aos="fade-right">
                <img ngSrc="assets/images/menu1.jpg" alt=""  width="240" height="160" ngSrcset="200w, 400w, 600w, 800w, 
                1000w, 1200w, 1600w, 2000w, 3000w" loading="lazy">
                <img ngSrc="assets/images/menu2.jpg" alt=""  width="240" height="160" ngSrcset="200w, 400w, 600w, 800w, 
                1000w, 1200w, 1600w, 2000w, 3000w" loading="lazy">
                <img ngSrc="assets/images/menu3.jpg" alt=""  width="240" height="160" ngSrcset="200w, 400w, 600w, 800w, 
                1000w, 1200w, 1600w, 2000w, 3000w" loading="lazy">
                <img ngSrc="assets/images/menu4.jpg" alt=""  width="240" height="160" ngSrcset="200w, 400w, 600w, 800w, 
                1000w, 1200w, 1600w, 2000w, 3000w" loading="lazy">
            </div>
            <div class="bakery-description animate-right"  data-aos="fade-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">N</span>osso
                    </h2>
                    <h1 class="headline headline-dark">Menu</h1>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet. Qui necessitatibus galisum non omnis cupiditate non 
                    neque ratione non harum odit ut sint soluta. Id internos necessitatibus cum consequatur
                     voluptate in velit quod eos commodi soluta qui blanditiis explicabo ut deleniti distinctio
                      qui dolor quia. In numquam sint et voluptatem autem in unde quos qui fuga exercitationem 
                      vel voluptatem possimus est quia beatae sit dolorem porro. Cum deleniti adipisci et 
                      aliquid reiciendis et minima neque sit tempora vitae.
                </p>
                <a href="" class="btn body-btn">Veja o menu completo</a>
            </div>
        </div>
    </div>
</section>
