<body>
  <header>
    <app-navbar></app-navbar>

  </header>
  <section class="home" id="home">
    <div class="container">
        <h2 class="sub-headline">
            <span class="first-letter">W</span>elcome
        </h2>
        <h1 class="headline">THE BAKE</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <h5>Pronto para Inauguração</h5>
                <a href="#" class="btn cta-btn">Saiba Mais</a>
            </div>
        </div>
    </div>
  </section>

  <app-nossa-historia></app-nossa-historia>
  <app-novas-receitas></app-novas-receitas>
  <app-nosso-menu></app-nosso-menu>
  <app-combinacao-perfeita></app-combinacao-perfeita>
  <app-deleite-culinario></app-deleite-culinario>

  <footer>
    <app-footer></app-footer>
  </footer>
</body>
