.combinacao-perfeita{
    background: url("src/assets/images/combinacao-perfeita4.jpg") center no-repeat;
    background-size: cover;
}

.between {
    min-height: 65vh;
    display: flex;
    align-items: center;
}
