

.discover-our-story .global-headline {
    margin-top: 6.9rem;
}

.global-headline .asterisk {
    color: var(--body-font-color);
    margin: 2.4rem 0;
}

.headline-dark {
    color: var(--main-font-color-dark);
    letter-spacing: .7rem;
    margin-right: .7rem;
}

.global-headline .sub-headline {
    letter-spacing: -1px;
    line-height: .42;
}



@keyframes fadeUp {
    0%{
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}