<section class="conheca-nossa-historia">
    <div class="container">
        <div class="bakery-info">
            <div class="bakery-description padding-right animate-left" data-aos="fade-right">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">C</span>onheça
                    </h2>
                    <h1 class="headline headline-dark">Nossa História</h1>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet. Qui necessitatibus 
                    galisum non omnis cupiditate non neque ratione non harum odit ut sint soluta. 
                    Id internos necessitatibus cum consequatur voluptate in velit quod eos commodi 
                    soluta qui blanditiis explicabo ut deleniti distinctio qui dolor quia. In numquam 
                    sint et voluptatem autem in unde quos qui fuga exercitationem vel voluptatem possimus 
                    est quia beatae sit dolorem porro. Cum deleniti adipisci et aliquid reiciendis et minima 
                    neque sit tempora vitae.                    
                </p>
                <a href="#" class="btn body-btn">Sobre Nós</a>
            </div>
            <div class="bakery-info-img animate-right" data-aos="fade-left">
                <img src="assets/images/conheca-nossa-historia.jpg" alt="">
            </div>
        </div>
    </div>
</section>
