<section class="receitas-deliciosas between">
    <div class="container" >
        <div class="global-headline">
            <div class="animate-top" data-aos="fade-down">
                <h2 class="sub-headline">
                    <span class="first-letter">R</span>eceitas
                </h2>
            </div>
            <div class="animate-bottom" data-aos="fade-up">
                <h1 class="headline headline-dark">Deliciosas</h1>
            </div>
        </div>

    </div>
</section>
